.input-username {
    width: 479px;
    height: 47px;
    margin-top: 10px;
    padding-left: 10px;
}

.input-password {
    width: 479px;
    height: 47px;
    margin-top: 10px;
    padding-left: 10px;
}

.bg-black {
    background-color: #404040;
    width: 100vw;
    height: 100vh;
}


.bg-white {
    background-color: #625AD8;
    width: 50%;
    height: 50%;
}

.border-radius-10 {
    border-radius: 20px;
}

.text-hackme {
    color: #88F4FF;
    font-size: 28px;
    margin-top: 30px;
}

.text-username {
    color: white;
    margin-top: 30px;
}

.text-password {
    color: white;
    margin-top: 15px;
}

.set-margin-left {
    margin-left: 230px;
}

.button-login {
    width: 80px;
    height: 45px;
    border-width: 0px;
    background: #1F9CE4;
    border-radius: 8px;

    color: white;
    font-size: 20px;
    cursor: pointer;
}

.margin-top-button{
    margin-top: 35px;
}

.h-full {
    height: 100%;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}