.input-username {
    width: 479px;
    height: 47px;
    margin-top: 10px;
    padding-left: 10px;
}

.input-password {
    width: 479px;
    height: 47px;
    margin-top: 10px;
    padding-left: 10px;
}

.bg-black {
    background-color: #000000;
    width: 100vw;
    height: 100vh;
}


.bg-white {
    background-color: #1e1e1e;
    padding: 0px 50px 50px 50px;
}

.border-radius-10 {
    border-radius: 20px;
}

.text-hackme {
    color: #4cbb17;
    font-size: 28px;
    margin-top: 30px;
}

.text-username {
    color: white;
    margin-top: 30px;
}

.text-password {
    color: white;
    margin-top: 15px;
}

.set-margin-left {
    margin-left: 230px;
}

.button-login {
    width: 80px;
    height: 45px;
    border-width: 0px;
    background: #4cbb17;
    border-radius: 8px;

    color: white;
    font-size: 20px;
    cursor: pointer;
}

.button-signin {
    width: 80px;
    height: 45px;
    border-width: 0px;
    background: #1390c2;
    border-radius: 8px;

    color: white;
    font-size: 20px;
    cursor: pointer;
}

.margin-top-button{
    margin-top: 35px;
}

.h-full {
    height: 100%;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.grid{
    display: grid;
}

.grid-cols-4{
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

.gap-10px{
    gap: 10px;
}

.gap-40px{
    gap: 40px;
}

.font{
    font-family: Copperplate;
    font-size: 40px;
}
