.max-width-1440 {
    max-width: 1440px;
}

.suggestion {
    width: 100%;
    height: 222px;
    background: #1e1e1e;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.topic {
    font-style: normal;
    font-weight: 500;
    font-size: 80px;
    line-height: 85px;
    padding-top: 24px;
    color: #4cbb17;
}

.describe {
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 37px;
    margin-top: 20px;
    color: #4cbb17;
}

.bg-gray{
    background-color: #000000;
    height: 1100px;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.pt-70px{
    padding-top: 70px;
}

.mt-5px{
    margin-top: 8px;
}

.cover {
    width: 100vw;
    height: 400px;
}

.bg-center {
    background-position: center;
}

.bg-bottom {
    background-position: bottom;
}

.bg-top {
    background-position: top;
}

.bg-cover {
    background-size: cover;
}

.bg-no-repeat {
    background-repeat: no-repeat;
}

.font{
    font-family: Copperplate;
}
